[submodule "root/.vim/bundle/markdown"]
	path = root/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "root/.vim/bundle/nerdtree"]
	path = root/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "root/.vim/bundle/molokai"]
	path = root/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "root/.vim/bundle/vim-less"]
	path = root/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
