[submodule "root/.vim/bundle/markdown"]
	path = root/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "root/.vim/bundle/nerdtree"]
	path = root/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "root/.vim/bundle/molokai"]
	path = root/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "root/.vim/bundle/vim-less"]
	path = root/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "root/.vim/bundle/perlomni"]
	path = root/.vim/bundle/perlomni
	url = https://github.com/c9s/perlomni.vim.git
[submodule "root/.vim/bundle/vim-airline"]
	path = root/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "root/.vim/bundle/vim-perl"]
	path = root/.vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "root/.vim/bundle/eyapp"]
	path = root/.vim/bundle/eyapp
	url = https://github.com/vim-scripts/eyapp.git
[submodule "root/.vim/bundle/planuml"]
	path = root/.vim/bundle/planuml
	url = https://github.com/aklt/plantuml-syntax
[submodule "root/.vim/bundle/tagbar"]
	path = root/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
